.container__user{
    width: 90%;
    margin:0 auto;
    height: 13.7rem;
    background-color: hsl(235, 46%, 20%);
    border-radius: 25px;
    color: hsl(235, 45%, 61%);
    cursor:default;
}

.container__texts-area{
    display: flex;
    justify-content: space-evenly;
    padding-top:20px;
}
.text-user:hover{
    color: snow;
    cursor: pointer;
}
.text-user-focus{
    color: snow;
}


.inner-container__user {
    background-color: hsl(246, 80%, 60%);
    width: 100%;
    height: 10rem;
    margin: 50px auto 0 auto;

    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
}
.user-picture{
    width: 5rem;
    border: 4px solid snow;
    border-radius: 50%; 
}
.report-name{
    color:snow;
}
.report__text{
    margin-bottom: 10px;
}
.user-name__text{
    font-size: 1.5rem;
}
@media (max-width: 320px){
    .user-picture {
        width: 5rem;
        border: 4px solid snow;
        border-radius: 50%;
        margin-left: 20px;
    }

    .report-name {
        color: snow;
        margin-left: 30px;
    }
}
@media (min-width: 1008px){
    body{
        padding-top: 30px;
    }

    .container{
        display: grid;
        align-content: stretch;
        justify-items: stretch;
        justify-content: stretch;
        align-items: stretch;
        column-gap: 5px;
        row-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:"header main main main";
    }
    .container__header {
        height: 100%;
        width: 100%;
        grid-area: header;
        display: grid;
        grid-template-areas: "user";
        align-items: center;
        
    }
    .container__user{
        width: 90%;
        height: 96%;
        margin: 0 auto;
        padding: 0;
        grid-area: user;
    }
    .inner-container__user{
        height: 70%;
        padding:0;
        margin:0;
    }
    .inner-container__user{
        display:grid;
        grid-template-columns: 0.1fr 1fr;
        grid-template-areas: ". img"
                            ". name";

    }
    .user-picture{
        grid-area: img;
    }
    .report-name{
        grid-area: name;
        align-self: start;
        padding-top: 15px;
    }
    .user-name__text{
        font-size: 2.3rem;
    }
    .container__texts-area{
        flex-direction: column;
    }
    .text-user{
        padding-left: 40px;
        margin-bottom: 15px;
        
    }
    .container__main{
        grid-area: main;
    }
}
